<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to 'Edit', 
  edit_user_path(@user),
  class:"btn btn-secondary" %>

  <%= button_to "Destroy this user", @user, method: :delete %>

  <br/> <br/>
  <%= link_to "Back to users",
    users_path,
    class:"btn btn-warning" %>
</div>
