<div id="<%= dom_id meal %>">
  <p>
    <strong>Name:</strong>
    <%= meal.name %>
  </p>

  <p>
    <strong>Opening time:</strong>
    <%= meal.opening_time %>
  </p>

  <p>
    <strong>Closing time:</strong>
    <%= meal.closing_time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= meal.price %>
  </p>

</div>
