<p style="color: green"><%= notice %></p>

<h1>Meal list</h1>

<%= link_to "New meal", new_meal_path %>
<br/><br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Cook</th>
      <th scope="col">Price</th>
      <th scope="col">Message ID</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>
  <tbody>
    <% @meals.each do |meal| %>
      <tr>
        <th scope="row"><%= meal.id%></th>
        <td><%= meal.name %></td>
        <td>placeholder</td>
        <td><%= meal.price %></td>
        <td><%= meal.message_id %></td>
        <td>
          <%= link_to 'Show', 
            meal,
            class:"btn btn-primary" %>
        </td>
        <td>
          <%= link_to 'Edit', 
          edit_meal_path(meal),
          class:"btn btn-secondary" %>
        </td>
        <td>
          <%= button_to "Destroy this meal",
          @meal,
          method: :delete %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>

