<p style="color: green"><%= notice %></p>

<h1>Members list</h1>

<%= link_to "New member", new_member_path %>
<br/><br/>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">First name</th>
      <th scope="col">Last name</th>
      <th scope="col">Phone</th>
      <th scope="col">Balance</th>
    </tr>
  </thead>
  <tbody>
    <% @members.each do |member| %>
      <tr>
        <th scope="row"><%= member.id%></th>
        <td><%= member.first_name %></td>
        <td><%= member.last_name %></td>
        <td><%= member.phone_number %></td>
        <td><%= member.balance %></td>
        <td>
          <%= link_to 'Show', 
            member,
            class:"btn btn-primary" %>
        </td>
        <td>
          <%= link_to 'Edit', 
          edit_member_path(member),
          class:"btn btn-secondary" %>
        </td>
        <td>
          <%= link_to "Destroy this member",
          member,
          method: :delete,
          class:"btn btn-danger" %>
         </td>
      </tr>
    <% end %>
  </tbody>
</table>